<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"> 
	<title>首页</title>
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">  
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">大鹏商城</a>
    </div>
    <div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">首页</a></li>
            <li><a href="/index/index/my">个人中心</a></li>
            <li><a href="/index/index/loginout">退出</a></li>
        </ul>
    </div>
    </div>
</nav>
<ul class="list-group">
    <li class="list-group-item">用户名：{$user_info.username}</li>
    <li class="list-group-item">性别：{$user_info.sex}</li>
	<li class="list-group-item">余额：{$user_info.account}元</li>
    <li class="list-group-item">上次登录：{$user_info.login_time |date='Y-m-d H:i:s',###}</li>
	<li class="list-group-item">IP地址：{$ip}</li>
</ul>

</body>
</html>